{% extends "encyclopedia/layout.html" %}
{% block title %}
    New Entry
{% endblock title %}
{% block body %}
    <h1>Create a new entry</h1>
    <div class="form-group">
        <form method="post">
            {% csrf_token %}
            <div class="col-md-6">
                <label for="{{ form.title.id_for_label }}">{{ form.title.label }}</label>
                {{ form.title }}
            </div>
            <div class="col-md-10">
                <label for="{{ form.content.id_for_label }}">{{ form.content.label }}</label>
                {{ form.content }}
                <button type="submit" class="btn btn-primary mt-2">Submit</button>
            </div>
        </form>
    </div>
{% endblock body %}
